
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {

display: flex;    
background-color: #eff8ff;


}

#EBBKültürSantLogo {

    width: auto;
height: 100px;
margin: 25px;


}

.menu-bar {

    
    height: min-content;
   
    text-align: center;

    justify-content: center;


}

.menu-bar ul {

display: inline-flex;
list-style: none;

}

.menu-bar ul li {

    width: 150px;
    height: 25px;
    margin: 15px;
    padding: 15px;


}

.menu-bar ul li a {

    text-decoration: none;
    color: rgb(3, 30, 53);

}